@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2>
        Your document manager
    </h2>
</div>

@section Scripts {
    <script>
        var msg = '@TempData["success"]';
        if (msg) alert(msg);
    </script>
}